@import "../media/iconfont.css";

body {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width: 100vw;
    height: 100vh;
    background: aliceblue;
    backface-visibility: hidden;
    background: url("../assets/img1.jpeg") 100% 100% no-repeat fixed;
}

#root {
    display: flex;
    flex-wrap: wrap;
    background: transparent !important;
    gap: 16px;
    width: 100%;
    height: 100%;
}
